<nav class="nav flex-column role-navbar" aria-label="Super Admin Navigation">
    <h5 class="sidebar-title">Super Admin Panel</h5>

    <NavLink class="nav-link" href="/" title="Dashboard" Match="NavLinkMatch.All">
        <i class="bi bi-house-door-fill me-2"></i> <span class="link-text">Dashboard</span>
    </NavLink>

    <NavLink class="nav-link" href="admin/super" title="Manage Users">
        <i class="bi bi-person-gear me-2"></i> <span class="link-text">Manage Users</span>
    </NavLink>

    <NavLink class="nav-link" href="reports" title="Reports">
        <i class="bi bi-bar-chart-fill me-2"></i> <span class="link-text">Reports</span>
    </NavLink>

    <NavLink class="nav-link" href="settings" title="Settings">
        <i class="bi bi-gear-fill me-2"></i> <span class="link-text">Settings</span>
    </NavLink>

</nav>
@code{

}